.contact{
  margin:0px;
}

.contact-intro{
  background-color: #85200cff;
  display: flex;
  justify-content: center;
  flex-direction:column;
}

.contact-header{
  display: flex;
  justify-content: center;
  margin:30px;
}

.contact-description{
  display: flex;
  justify-content: center;
}

.people{
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  marging-right: -50%;
  transform: translate ()
}
.person{
  display: flex;
  justify-content: center;
  flex-direction: column;
}