.resources{
  margin:0px;
}

.resources-all{
  background-color: #85200cff;
  display: flex;
  justify-content: center;
  flex-direction:column;
}

.resources-header{
  display: flex;
  justify-content: center;
  margin:30px;
}

.resource-description{
  display: flex;
  justify-content: center;
}

.article-links{
  display: flex;
  flex-direction:column;
}

.article-link{
  display: flex;
  justify-content:center;
}

.videos{
  display: flex;
  justify-content:center;
}